body {
    font-family: 'Menlo', 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
    background-color: #202020;
    color: #a9b7c6;
    font-size: 14px;
}

a:focus, a:hover {
    color: inherit;
}

.data { white-space: pre; width: calc(100%-300px;)}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y:scroll;
    overflow-x:scroll;
    width: 300px;
    background: #fff;
    border-left: 1px solid #ddd;
}

nav ul {list-style-type: none;}

.line_number {
    width: 100px;
    margin-right: 10px;
    padding-left: 10px;
    display: inline-block;
    color: #8b8b8b;
    background-color: #4b4b4b;
    border-left: 1px solid #6b6b6b;
}

i[data-toggle='collapse'] {
    margin-right: 10px;
}

.comment { font-style: italic; color: #777; }

.function_def { color: #debb5b; }

.var, .var_def { color: #c2c6a9; }
.var.cl, .var_def.cl { color: #8376aa; }

.parameter, .parameter_def { color: #c2c6a9; }
.parameter.cl { color: #8376aa; }

.parameter::before {
    content: "P:";
}
.parameter.ret::before {
    content: "R:";
}

.var::before {
    content: "V:";
}

.var::before, .parameter::before {
    font-size: 60%;
    font-style: italic;
    color: #777;
}

.const { color: #517647; }